.popup__button.popup__button_disabled,
.popup__button:disabled {
  color: #c4c4c4 !important;
  -webkit-text-fill-color: #c4c4c4;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  background: transparent !important;
  cursor: default;
  pointer-events: none;
}
